overpassAPI/results/*
!overpassAPI/results/.void
overpassAPI/geojson/*
!overpassAPI/geojson/.void
gtfs/shp/*
!gtfs/shp/.void
gtfs/py/__pycache__/*
node_modules
extracts/*
postgis/dump-*
*.py[cod]
.idea
.venv
.vscode
